[build-system]
requires = ["poetry"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "sansio-lsp-client"
version = "0.8.0"
description = """
An implementation of the client side of the LSP protocol, useful for \
mbedding easily in your editor.\
"""
authors = ["Purple Myst <PurpleMyst@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/PurpleMyst/sansio-lsp-client"
keywords = ["sansio", "languageserver"]
include = ["sansio_lsp_client/py.typed"]

[tool.poetry.dependencies]
python = ">=3.6"
dataclasses = { version = "^0.7", python = ">=3.6,<3.7" }
pydantic = "^1.7.3"

[tool.poetry.dev-dependencies]
mypy = "^0.790.0"
black = "18.9b0"
python-language-server = {extras = ["all"], version = "^0.36.2"}
pytest = "5.4.3"

[tool.black]
line-length = 79
target-version = ["py36"]
# TODO: what's the purpose of specifying exclude here?
exclude = 'build/|buck-out/|dist/|_build/|\.git/|\.hg/|\.mypy_cache/|\.tox/|\.venv/|/playground.py'
